* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #d9e7ff, #f7f9ff);
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #007bff;
    color: white;
    padding: 15px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0, .1);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover,
.active {
    text-decoration: underline;
}

.logout-btn {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.logout-btn:hover {
    background-color: #e0e0e0;
}

.hero {
    background: url("https://img.freepik.com/free-photo/medicine-blue-background_23-2147839394.jpg") center/cover no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-text {
    background: rgba(0, 0, 0, .5);
    padding: 30px;
    border-radius: 15px;
    animation: fadeIn 2s ease-in-out;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background-color: white;
    color: #007bff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: .3s;
}

.btn:hover {
    background-color: #e0e0e0e0;
}

.produk-section {
    text-align: center;
    padding: 50px 20px;
    animation: slideUp 1s ease-out;
}

.produk-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.produk-card {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.produk-card:hover {
    transform: translateY(-5px);
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #007bff;
    color: white;
    margin-top: 30px;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {

        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {

        opacity: 1;
        transform: translateY(0);
    }
}